.score-title {
    color: #1163ae;
    font-family: "Oswald";
    font-size: 64px;
    font-weight: bold;
}
.score-cards-container{
    width:90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-body h4{
    margin:0;
    margin-bottom: 10px;
    font-weight: 500;
}
.score-card-container{
    width: calc(30% - 140px); /* Ширина карточки на 30% ширины контейнера минус отступы */
    margin: 40px; /* Отступы между карточками */
    margin-top:10px;
    margin-bottom: 10px;

    &__card{
        background-color: #1163ae;
        border-radius: 15px;
        color:white;
        height:75%;
    }
}
.progress{
    width:70%;
    background-color: white;
    border-radius:5px;
    height:25px;
}
.progress-bar{
    border-radius: 5px;
}

.score-btn{
    border:1px solid white;
    background-color: #1163ae;
    color:white;
    border-radius: 5px;
    font-size: 24px;
    padding:15px 25px;
    margin-top:10px;
    margin-bottom:10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.score-btn:hover{
    transition: 0.5s ease-in-out;
    color:#1163ae;
    background-color: white;
    border:1px solid #1163ae;
}


@media (max-width: 1440px) {
    .score-card-container{
        width:30%;
    }
    .progress{
        width: 85%;
    }
}
@media (max-width: 1280px) {
    .card .card-body{
        padding:0.8rem 1.5rem;
    }
    .progress{
        width:100%;
    }
}
@media (max-width: 1024px) {
.score-card-container{
    margin:0;
}
    .score-card-container{
        width:45%;
    }
}
@media (max-width: 768px) {
    .score-title{
        font-size: 32px;
    }
    .score-card-container{
        width:80%;
    }

    .score-btn{
        font-size:18px;
        padding:10px 15px;
    }
}
@media (max-width: 480px) {
    .card-body{
        & h4{
            font-size:0.9rem;

            & img{
                width:10%;
            }
        }
    }
    .progress{
        height:15px;
        margin-bottom:10px;
    }
    .card .card-body{
        padding:0.5rem 1rem;
    }
    .team-score{
        margin-bottom:0 !important;
    }
    .score-btn{
        font-size:14px;
    }
    .card{
        border-radius: 10px !important;
    }
}
@media (max-width: 320px) {
    .card .card-body{
        padding-top:0rem;
        padding-bottom: 1.5rem;
    }
    .score-card-container{

        &__card{
            margin:10px 0 !important;
        }
    }
}